.kycPendingStatusColor {
    color: orange !important;
    border-radius: 17px;
}
.kycActiveStatusColor {
    color: #2e902e;
    border-radius: 17px;
}

.kycRejectedStatusColor {
    color: red;
    border-radius: 17px;
}

.orange {
    color: orange !important;
    border-radius: 20px;
}
.darkOrange {
    color: orange !important;
    border-radius: 20px;
}

.red {
    color: red !important;
    border-radius: 20px;
}
.green {
    color: green !important;
    border-radius: 20px;
}