<div class="contentLogin">
    <div class=" mainClass">
        <!-------------login -------------------------------->
        <div class="col-lg-4 col-md-12" >
            <div class=" card p-3">
                <div class=" card-body">
                    <form [formGroup]="loginForm">

                        <!-- <div class="form-group">
                            <div>
                                <label>Email</label>
                                <div class="form-group has-search">

                                    <input type="text" class="form-control" placeholder="Enter Registered Email-ID" formControlName="email" maxlength="60">
                                    <span class="fa fa-envelope form-control-feedback"></span>
                                </div>

                            </div>
                            <div *ngIf="loginForm.get('email').invalid && (loginForm.get('email').touched || loginForm.get('email').dirty)" class="error">
                                <p *ngIf="loginForm.get('email').errors.required" class="error">
                                    *Please Enter Registered Email-ID.</p>
                                <p *ngIf="loginForm.get('email').errors.pattern" class="error">*Please Enter Valid Registered Email-ID.</p>
                            </div>
                        </div> -->

                        <div class="form-group">
                            <label>New Password</label>

                            <div class="form-group has-search">

                                <input type={{selectedType}} class="form-control pointer" placeholder="Enter Password" formControlName="password" (click)="selectedType = (selectedType == 'text') ? 'password' : 'text'">
                                <span [ngClass]="selectedType =='password' ? 'fas fa-eye-slash' : 'fas fa-eye'" class="form-control-feedback pointer"></span>
                            </div>
                            <span *ngIf="password.invalid && password.touched" class="error">
                                <span *ngIf="password.errors.required">*Please Enter password.</span>
                            </span>

                            <!-- <span *ngIf="loginForm.get('password').hasError('pattern')" class="error">
                                *Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter, 1 number and 1 special character.</span> -->
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <div class="form-group has-search">
                                <input type={{selectedTypeConfirm}} class="form-control pointer" placeholder="Enter Confirm Password" formControlName="confirmPassword" (click)="selectedTypeConfirm = (selectedTypeConfirm == 'text') ? 'password' : 'text'">
                                <span [ngClass]="selectedTypeConfirm =='confirmPassword' ? 'fas fa-eye-slash' : 'fas fa-eye'" class="form-control-feedback pointer"></span>
                            </div>
                            <!-- <span *ngIf="confirmPassword.invalid && confirmPassword.touched" class="error">
                                <span *ngIf="confirmPassword.errors.required">*Please Enter Confirm confirmPassword.</span>
                            </span> -->



                            <div *ngIf="loginForm.get('confirmPassword').dirty" class="text-danger">
                                <span
                                    *ngIf="loginForm.get('confirmPassword').value != loginForm.get('password').value">*Password mismatched.</span>
                            </div>

                        </div>
                    </form>
                </div>
                <div class=" card-footer text-center">
                    <button class=" btn btn-fill btn-danger" type="submit" (click)="submitForm()" [disabled]="!loginForm.valid" >SUBMIT</button>
                </div>
                <!-- <div class="routerSign">Don't have an account?
                    <a href="#" style="text-decoration: underline;">
                        Sign Up
                    </a>
                </div> -->
            </div>
        </div>

    </div>
</div>