// .active {
//     background: #3358f4;
//     background-image: linear-gradient(to bottom left, #1d8cf8, #3358f4, #1d8cf8) !important;
//     background-size: 210% 210%;
//     background-position: top right;
//     background-color: #344675;
//     transition: all 0.15s ease;
//     box-shadow: none;
//     color: #ffffff;
//     padding: 10px 135px !important;

// }
// .tabColor{
//     background: #1d8cf8 !important;
//     background-image: linear-gradient(to bottom left, #2483e2, #2749d8, #619dd6) !important;
//         background-size: 210% 210%;
//         background-position: top right;
//         background-color: #1d8cf8;
   
//     transition: all 0.15s ease;
//     box-shadow: none;
//     color: #ffffff;
//     padding: 10px 135px;
// }





.active {
    background: #ff8d72;
    background-image: linear-gradient(to bottom left, #ff8d72, #ff6491, #ff8d72);
    background-size: 210% 210%;
    background-position: top right;
    background-color: #344675;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
    padding: 10px 135px !important;

}
.tabColor{

    background: #1d8cf8 !important;
    background-image: linear-gradient(to bottom left, #2483e2, #2749d8, #619dd6) !important;
    background-size: 210% 210%;
    background-position: top right;
    background-color: #1d8cf8;
    transition: all 0.15s ease;
    box-shadow: none;
    color: #ffffff;
    padding: 10px 135px;
}

.cell {
    max-width: 50px;
    text-align: justify;
}
.size-frame {

    width:100%;
    height: 750px
}
main-card {
    border: 1px solid black;
    padding: 20px;
    max-width:60%
}

.user-img {
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;
    border: 1px solid #101010;
    border-radius: 50px;
} 

.new-card {
    background: #ecf3fb;
    margin: 20px;
    padding: 10px;
}

.doc-name {
    background: #2382e7;
    color: white;
    padding: 10px;
    // border-radius: 20px;
}

.doc-img {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    object-position: center;
}

.mt10{
    margin-top:10px
}

.dropdown-menu{
        max-height: 190px;
        overflow-y: scroll;
    }
 
    .mt25 {
        margin-top:25px
    }
    
    .ml10 {
        margin-left:10px
    }
    
    .dropdown-menu{
        max-height: 190px;
        overflow-y: scroll;
    }

    .my-icon{
        font-size: 14px;
        color: gray;
        cursor: pointer;
        margin-left: 10px;
      }
      body {
        background-color: #B3E5FC;
        border-radius: 10px
    }
    
    .cards {
        width: 605px;
        border: none;
        border-radius: 10px;
        background-color: #d3dbea;
    }
    .cards:hover {
        border: 0px solid rgb(251, 251, 251);
        background: #f9f6f6;
        transform: scale(1.1);
    }
    
    .stats {
        background: #f2f5f8 !important;
        color: #000 !important
    }
    
    .articles {
        font-size: 10px;
        color: #a1aab9
    }
    
    .number1 {
        font-weight: 500
    }
    
    .followers {
        font-size: 10px;
        color: #a1aab9
    }
    
    .number2 {
        font-weight: 500
    }
    
    .rating {
        font-size: 10px;
        color: #a1aab9
    }
    
    .number3 {
        font-weight: 500
    }
    .kycPendingStatusColor{
        color: orange;border-radius: 17px;
    }
    .kycActiveStatusColor{
        color: #2e902e;border-radius: 17px;
        ;border-radius: 17px;
    }

    .kycRejectedStatusColor{
        color: red;border-radius: 17px;
    }

    .orange {
        color: orange;
        border-radius: 20px;
        color:orange
    }
    .red {
        color: red;
        border-radius: 20px;
        color:red
    }
    .green {
        color: green;
        border-radius: 20px;
        color:green
    }
    .orange {
        color: orange;
        border-radius: 20px;
        color:orange
    }
    .button-action{
        padding: 9px 12px;
    }
    .w100{
        width: 100px;
        min-width: 127px;
    }

    @media only screen and (min-width: 320px) {
        .active {
            padding: 10px 82px !important;
        }
    }
    
    @media only screen and (min-width: 360px) {
        .active {
            padding: 10px 103px !important;
        }
    }
    
    @media only screen and (min-width: 375px) {
        .active {
            padding: 10px 110px !important;
        }
    }
    
    @media only screen and (min-width: 425px) {
        .active {
            padding: 10px 115px !important;
        }
    }
    @media (min-width: 320px) and (max-width: 570px) {
        .tabColor {
            padding: 10px 89px !important;
            width: 103%;
        }
    }
